/* TIMETABLE STYLE */
/* General Table settings */
[v-cloak] {
	display: none;
}

.gcwt {
	padding-left: 10px;
	padding-right: 10px;
	border-spacing: 0px;
	border-collapse:collapse;
	caption-side: bottom;
}

.gcwt td {
	border: 1px #ababab solid !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}

.gcwt th {
	background-color: #ababab;
}

.gcwt th, .gcwt td {
	text-align: center !important;
	vertical-align: middle !important;
}

.gcwt .topbar {
	position: relative;
}

.gcwt .previous.week, .next.week {
	cursor: pointer;
	font-size: 42px;
	text-decoration: none;
	border-bottom: none;
}

.gcwt .isLoading {
	opacity: 0.5;
}

.gcwt .selected-cal {
	background-color: darkgrey;
	color: white;
}

.gcwt .date_range {
	position: relative;
	top: -4px;
/*	left: 50%;*/
}

.gcwt .date_range > span {
/*	margin-left: -50%;
	width: 100%;
	display: inline-block;*/
}

.gcwt caption {
	text-align: right !important;
	margin: 0;
}

.gcwt caption > span {
	font-weight: bold;
}