[v-cloak] {
  display: none;
}

#url {
	width: 50%;
}

.tip {
	background-color: white;
	display: none;
	position: fixed;
	padding: 12px;
}

.error {
	color: red;
}

.separator {
	opacity: 0;
	color: red;
}

.url-delete, .wd_reset {
	cursor: pointer;
}